---
# Feel free to add content and custom Front Matter to this file.

layout: default
title: Two Sense Studio - Partnerships
---

<h1>Partnerships</h1>
<div class="basic-grid basic-grid--2-col">
	<div class="basic-grid__copy">
		<h2>The Startup Founder</h2>
		<p>The Goal: Moving from "Maybe" to "Market-Ready."</p>
		<p>You have a vision and the data to back it up, but you need to see it to believe it—and so do your investors. I act as your founding design partner to validate your ideas and build the foundation.</p>
		<p>How I help: Design Sprints to test your biggest assumptions, rapid prototyping for funding rounds, and crafting the high-fidelity MVP that defines your brand from day one.</p>
	</div>
	<div class="basic-grid__image"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
	<div class="basic-grid__image"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
	<div class="basic-grid__copy">
		<h2>The Small Business Owner</h2>
		<p>The Goal: A Digital Extension of your Craft.</p>
		<p>You’ve built a business based on care and community. Your digital presence should feel as intuitive and welcoming as your physical space. I help you cut through the tech noise to build a tool that actually serves your neighbors.</p>
		<p>How I help: Creating a seamless, human-centric home for your business, from boutique shops and yoga studios to local makers. I handle the strategy and design so you can focus on your craft.</p>
	</div>
	<div class="basic-grid__copy">
		<h2>The Product Team</h2>
		<p>The Goal: Speed, Consistency, and Growth.</p>
		<p>Your team is moving fast, but "feature bloat" or design debt is slowing you down. You need a senior eye to plug in, level up the work, and ensure the product remains a joy to use as it scales.</p>
		<p>How I help: Fractional product support for feature enhancements, building robust Design Systems to enable your developers, and provide mentorship to help your team stay focused on the "head and the heart" of the user experience.</p>
	</div>
	<div class="basic-grid__image"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
</div>
