---
# Feel free to add content and custom Front Matter to this file.

layout: default
title: Two Sense Studio - Values
---

<h1>Values</h1>
<div class="basic-grid basic-grid--2-col">
	<div class="left">
		<h2>I. Lead with Empathy</h2>
		<p>Empathy isn't just a soft skill; it’s a strategic superpower. I believe that before we can build anything meaningful, we have to truly understand the humans on the other side of the screen. I dive deep into their world to ensure the tools we create don't just function, they resonate.</p>
	</div>
	<div class="right"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
</div>
<div class="basic-grid basic-grid--2-col">
	<div class="right"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
	<div class="left">
		<h2>II. Simplify the Complex</h2>
		<p>The world is complicated enough; your tools shouldn't be. I thrive on taking messy, fragmented processes and distilling them into intuitive, seamless experiences. If a system is second nature to the user, they can spend less time fighting technology and more time doing what they do best.</p>
	</div>
</div>

<div class="basic-grid">
	<div class="left"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
	<div class="right">
		<h2>II. Simplify the Complex</h2>
		<p>The world is complicated enough; your tools shouldn't be. I thrive on taking messy, fragmented processes and distilling them into intuitive, seamless experiences. If a system is second nature to the user, they can spend less time fighting technology and more time doing what they do best.</p>
	</div>
	<div class="right"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
</div>
<div class="basic-grid basic-grid--2-col">
	<div class="left">
		<h2>I. Lead with Empathy</h2>
		<p>Empathy isn't just a soft skill; it’s a strategic superpower. I believe that before we can build anything meaningful, we have to truly understand the humans on the other side of the screen. I dive deep into their world to ensure the tools we create don't just function, they resonate.</p>
	</div>
	<div class="right"><img width="100px" src="<%= relative_url '/images/tss-logo.png' %>" alt="" /></div>
</div>
