@use 'variables' as *;

.basic-grid {
	display: grid;
	row-gap: 4rem;
	grid-gap: 4rem;
	align-items: center;
}

.basic-grid-wrapper--horizontal {
	padding-left: 3rem;
	padding-right: 3rem;

	@media only screen and (min-width: $breakpoint-medium) {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	@media only screen and (min-width: $breakpoint-x-large) {
		padding-left: 12rem;
		padding-right: 12rem;
	}
}

.basic-grid-wrapper--vertical {
	padding-top: 8rem;
	padding-bottom: 8rem;

	@media only screen and (min-width: $breakpoint-medium) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

.basic-grid--services {
	row-gap: 1rem;
	margin-bottom: 4rem;
}

.basic-grid--2-col {
	grid-template-columns: 1fr;

	@media only screen and (min-width: $breakpoint-medium) {
		grid-template-columns: 1fr 1fr;
	}
}

.basic-grid--full-width {
	grid-column: 1 / -1;
}

.basic-grid__image {
	position: relative;
	text-align: center;

	img {
		width: 100%;
	}
}
