@use 'variables' as *;

.contact {
	background: url("/images/contact_border.png") left center / contain no-repeat;
  padding: 2rem 2rem 2rem 4rem;

  @media only screen and (min-width: $breakpoint-large) {
		margin-top: 4rem;
  }
}

.contact__heading {
	margin-bottom: 4rem;
}

.contact__group {
    margin-bottom: 2.5rem;

    label {
      display: block;
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }

    input, textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: #fff;
      border-radius: 4px;
      font-size: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      
      &::placeholder {
        font-family: "Urbanist", sans-serif;
        color: #a0a0a0;
      }

      &:focus {
        outline: 2px solid #e67e22; // Using your accent orange
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
 }

.contact__action {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.contact__image-bg--plane {
	padding-top: 5rem;
	padding-bottom: 5rem;

	@media only screen and (min-width: $breakpoint-large) {
		// padding-top: 30rem;
		// padding-bottom: 30rem;
		background: url("/images/contact_plane.png") 90% center / 55% no-repeat;
	}

	// @media only screen and (min-width: $breakpoint-large) {
	// 	background-position: 90% center;
	// 	background-size: 55%;
  // }

	@media only screen and (min-width: $breakpoint-x-large) {
		background-size: contain;
  }

	@media only screen and (min-width: $breakpoint-xx-large) {
		background-position: 80% center;
		background-size: contain;
  }

  @media only screen and (min-width: 1800px) {
		//background-position: 10% center;
  }
}

.contact__plane-mobile {
	display: block;
	@media only screen and (min-width: $breakpoint-large) {
		display: none;
	}
}

// .contact__image--plane {
// 	width: 80%;
// }
