@use 'variables' as *;

.site-header__logo {
	padding: 1rem;
	width: 120px;

	@media only screen and (min-width: $breakpoint-medium) {
		width: 140px;
  }

	img {
		width: 100%;
	}
}

.site-header {
	display: none;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	position: relative;

	@media only screen and (min-width: $breakpoint-medium) {
		display: flex;
  }
}

.site-header--mobile {
	display: flex;

	@media only screen and (min-width: $breakpoint-medium) {
		display: none;
  }
}
