@use 'variables' as *;

.values__heading {
	text-align: center;
	margin-bottom: 10rem;
}

.values__simplify-mobile {
	display: block;

	@media only screen and (min-width: $breakpoint-medium) {
		display: none;
	}
}

.values__image--build {
	text-align: center;
}

.values__image-bg--simplify {
	padding-top: 5rem;
	padding-bottom: 5rem;

	@media only screen and (min-width: $breakpoint-medium) {
		padding-top: 30rem;
		padding-bottom: 30rem;
		background: url("/images/values_simplify.png") 65% center / cover no-repeat;
	}

	@media only screen and (min-width: $breakpoint-large) {
		background-position: 70% center;
  }

	@media only screen and (min-width: $breakpoint-x-large) {
		background-position: 80% center;
  }

	@media only screen and (min-width: $breakpoint-xx-large) {
		background-position: 125% center;
  }
}

img.values__image--empathy, img.values__image--empower {
	width: 50%;

	@media only screen and (min-width: $breakpoint-medium) {
		width: 80%;
	}

}

.values__image--build-1 {
	width: 30%;
}
