:root {
  --color__link-text: #cc5500;
  --color__body-text: #1d171d;
  --color__tint: #7fade4;
  --color__menu-bg: #1d171d;
}

$breakpoint-small: 35em;
$breakpoint-medium: 48em;
$breakpoint-large: 60em;
$breakpoint-x-large: 75em;
$breakpoint-xx-large: 100em;
$max-width-page: 120rem;
